/* 
    Document   : accordion
    Created on : 22/10/2012, 02:45:09 PM
    Author     : tavo vera
    Description:
        Purpose of the stylesheet follows.
*/

.menu_recetas li a.primero{
    background-image: url('../images/menu/bt_naranja.png');
    background-repeat: no-repeat;
    background-position: right;
     width: 140px;


}

.menu_recetas li ul li{
  /*  padding-left: 0px;*/
    
}

.menu_nutricion li a.primero{
    background-image: url('../images/menu/bt_naranja.png');
    background-repeat: no-repeat;
    background-position: right;
     width: 140px;


}

.menu_nutricion li ul li{
  /*  padding-left: 0px;*/
    
}
